@import "../../nav/css/fonts.css";
@font-face {
    font-family: Aller;
    src: url(../fonts/Aller_Bd.woff);
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Aller;
    src: url(../fonts/Aller_Lt.woff);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: adventPro;
    src: url(../fonts/adventpro-light.woff);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: sanFrancis;
    src: url(../fonts/SanFranciscoDisplay-Light.WOFF);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: sanFrancis;
    src: url(../fonts/SanFranciscoDisplay-Regular.WOFF);
    font-weight: normal;
    font-style: normal;
}
html {

    margin: 0;
    background-image: url(../images/backipg.jpg);
    background-size: 100% auto;
    transition: 5s ease;
}
body {
    margin: 0;
    background-color: rgba(0,0,0,0);
}
.login-maincontent {}
.login-content {
    margin: 40vh auto;
    background-color: rgba(0,0,0,0);
    height: auto;
    width: 27%;
}
.login-title {
    position: inherit;
    margin: -20px 0 0 59px;
    font-family: Aller;
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.login-title > span {
    font-weight: bold;
    color: #ff0808;
    margin-right: 4px;
}
.login-logo {
    margin-left: 13vw;
    transition: 0.1s;
    transition-timing-function: cubic-bezier(.77, .77, 1, 0);
}
.login-logo > img {
    width: 112px;
    height: auto;
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
}
.login-form {
    margin: 0 auto;
}
.login-formText {
    display: grid;
    /*margin: -95px 0px 0px 110px;*/
    width: auto;
    height: 60px;
    background-color: white;
    /*    border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;*/
    border-radius: 30px;
    box-shadow: 0 0 5px #c9b4a5;
}
.login-input {
    font-family: Aller;
    font-weight: bold;
    font-size: 20px;
    padding: 0 25px 0 36px;
    color: #b09e8f;
}
.login-input:focus {
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}
.login-formText > .login-input[type=text] {
    background-color: white;
    width: 285px;
    margin: 0 0 0px 30px;
    border: 0px;
    border-bottom: 2px solid #2196F3;
    height: 29px;
}
.login-formText > .login-input[type=password] {
    background-color: white;
    width: 285px;
    margin: 0 0 0px 30px;
    border: 0px;
    border-top: 2px solid #2196F3;
}
.login-formBut {
    margin: 5px 0 0 313px;
    position: absolute;
}
.but {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ff0808;
    transition: 0.3s box-shadow;
}
.but:hover {
    box-shadow: inset 0 0 10px #422b1c;
    /*    color: black;*/
    text-shadow: 0 0 3px black;
}
.but > i {
    margin: 10px 0px 0 16px;
    color: white;
    transition: 0.3s;
}
.login-footer-1 {
    position: inherit;
    margin: 0vh 0 0 16.5vw;
    font-family: aller;
    color: white;
    transition: 0.5s;
}
.login-footer-2 {
    position: inherit;
    margin: -0.5vh 0 0 19vw;
    font-family: aller;
    color: white;
    transition: 0.5s;
    animation: 1s blink ease infinite;
}
.login-message{
    position: inherit;
    text-align: center;
    margin: 5px 0 0 0;
    font-family: aller;
}
.login-message > .error_box{
    color: #ff0808;
    font-weight: bold;
}
.login-message > .valid_box{
    color: buttonface;
    text-shadow: 0 0 3px #000000;
}

